@using (Html.BeginForm("Search", "Residences", FormMethod.Get))
{
    <div class="col-lg-4">
        <input type="submit" value="Submit" class="btn btn-default" />
        <input type="text" name="Search" class="form-control" />
    </div>
}
